global
    daemon
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 10s
    timeout server 10s
    default-server inter 2s rise 2 fall 3

frontend encyclopedia_front
    bind *:8001
    default_backend encyclopedia_back

backend encyclopedia_back
    balance roundrobin
    option httpchk GET /ready HTTP/1.0
    http-check expect status 200
    server enc1 encyclopedia-service-1:8000 check
    server enc2 encyclopedia-service-2:8000 check
    server enc3 encyclopedia-service-3:8000 check

frontend auth_front
    bind *:8002
    default_backend auth_back

backend auth_back
    balance roundrobin
    option httpchk GET /health HTTP/1.0
    http-check expect status 200
    server auth1 researcher-auth-service-1:8000 check
    server auth2 researcher-auth-service-2:8000 check
    server auth3 researcher-auth-service-3:8000 check

frontend media_front
    bind *:8003
    default_backend media_back

backend media_back
    balance roundrobin
    option httpchk GET /ready HTTP/1.0
    http-check expect status 200
    server media1 media-service-1:8000 check
    server media2 media-service-2:8000 check
    server media3 media-service-3:8000 check

frontend search_front
    bind *:8004
    default_backend search_back

backend search_back
    balance roundrobin
    option httpchk GET /readiness HTTP/1.0
    http-check expect status 200
    server search1 search-service-1:8000 check
    server search2 search-service-2:8000 check
    server search3 search-service-3:8000 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
